<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator />
	<Encoding>UTF-8</Encoding>

	<!-- 设置日志级别及是否自动扫描配置文件的修改 时间单位为：milliseconds、seconds、minutes和hours <configuration 
		debug="true" scan="false" scanPeriod="30 minutes"></configuration> -->

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/logFile.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/showcase.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="businessLogFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/business.log</file>
		<!-- 按每小时滚动文件，如果一个小时内达到10M也会滚动文件, 滚动文件将会压缩成zip格式 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/business-%d{yyyy-MM-dd_HH}.%i.zip
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<!-- 独立的pattern -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS},%msg%n</pattern>
		</encoder>
	</appender>

	<!-- business log 使用独立的appender，不继承Root的appender -->
	<logger name="com.ztesoft" level="DEBUG" additivity="false">
		<appender-ref ref="businessLogFile" />
		<appender-ref ref="console" />
	</logger>

	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="DEBUG" />
	<logger name="jdbc.sqlonly" level="OFF" />
	<logger name="jdbc.audit" level="OFF" />
	<logger name="jdbc.resultset" level="OFF" />
	<logger name="jdbc.connection" level="OFF" />
	<logger name="jdbc.resultsettable" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</logger>


	<appender name="File" class="ch.qos.logback.core.FileAppender">
		<file>./logs/webt.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>
	<!-- root -->
	<root level="DEBUG">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="File" />
	</root>
</configuration>