<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="cn.kangbao.webapp.db.appmgr.dao.mapper.IPatientBloodpressureMapper" >
    <resultMap id="BaseResultMap" type="cn.kangbao.webapp.db.appmgr.entity.PatientBloodpressure">
		<id column="measurementId" property="measurementid" jdbcType="INTEGER" />
		<result column="personId" property="personid" jdbcType="INTEGER" />
		<result column="upNum" property="upnum" jdbcType="INTEGER" />
		<result column="downNum" property="downnum" jdbcType="INTEGER" />
		<result column="heartRate" property="heartrate" jdbcType="INTEGER" />
		<result column="testTime" property="testtime" jdbcType="TIMESTAMP" />
		<result column="feelingState" property="feelingstate" jdbcType="INTEGER" />
		<result column="feelingDesc" property="feelingdesc" jdbcType="VARCHAR" />
		<result column="evaluate" property="evaluate" jdbcType="VARCHAR" />
		<result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="dr" property="dr" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
  	measurementId,personId,upNum,downNum,heartRate,testTime,feelingState,feelingDesc,evaluate,createTime,dr
  </sql>
  <sql id="Arg_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Arg_Where_Clause" >
    <where >
      <foreach collection="arg.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <select id="selectByArg" resultMap="BaseResultMap" parameterType="cn.kangbao.webapp.db.appmgr.arg.PatientBloodpressureArg" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from patient_bloodpressure
    <if test="_parameter != null" >
      <include refid="Arg_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByArgAndPage" resultMap="BaseResultMap" parameterType="cn.kangbao.webapp.db.appmgr.arg.PatientBloodpressureArg" >
    select
    <if test="distinct" >
      distinct
    </if>
     <if test="columns == null" >
    	<include refid="Base_Column_List" />
    </if>
    <if test="columns != null" >
    	${columns}
   	</if>
    from patient_bloodpressure
    <if test="_parameter != null" >
      <include refid="Arg_Where_Clause" />
    </if>
	<if test="groupByClause != null" >
      group by ${groupByClause}
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByArg" parameterType="cn.kangbao.webapp.db.appmgr.arg.PatientBloodpressureArg" >
    delete from patient_bloodpressure
    <if test="_parameter != null" >
      <include refid="Arg_Where_Clause" />
    </if>
  </delete>
  <select id="countByArg" parameterType="cn.kangbao.webapp.db.appmgr.arg.PatientBloodpressureArg" resultType="java.lang.Integer" >
    <if test="countsql1 != null" >
    	${countsql1}
    	<if test="_parameter != null" >
		  <include refid="Arg_Where_Clause" />
		</if>
		${countsql2}
    </if>
	<if test="countsql1 == null" >
		select count(*) from patient_bloodpressure
		<if test="_parameter != null" >
		  <include refid="Arg_Where_Clause" />
		</if>
	</if>
  </select>
  <update id="updateByArgSelective" parameterType="map" >
    update patient_bloodpressure
    <set >
		<if test="record.personid != null" >
		personId= #{record.personid,jdbcType=INTEGER},
	</if>
	<if test="record.upnum != null" >
		upNum= #{record.upnum,jdbcType=INTEGER},
	</if>
	<if test="record.downnum != null" >
		downNum= #{record.downnum,jdbcType=INTEGER},
	</if>
	<if test="record.heartrate != null" >
		heartRate= #{record.heartrate,jdbcType=INTEGER},
	</if>
	<if test="record.testtime != null" >
		testTime= #{record.testtime,jdbcType=TIMESTAMP},
	</if>
	<if test="record.feelingstate != null" >
		feelingState= #{record.feelingstate,jdbcType=INTEGER},
	</if>
	<if test="record.feelingdesc != null" >
		feelingDesc= #{record.feelingdesc,jdbcType=VARCHAR},
	</if>
	<if test="record.evaluate != null" >
		evaluate= #{record.evaluate,jdbcType=VARCHAR},
	</if>
	<if test="record.createtime != null" >
		createTime= #{record.createtime,jdbcType=TIMESTAMP},
	</if>
	<if test="record.dr != null" >
		dr= #{record.dr,jdbcType=INTEGER},
	</if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Arg_Where_Clause" />
    </if>
  </update>
  <update id="updateByArg" parameterType="map" >
    update patient_bloodpressure
    set 
		personId = #{record.personid,jdbcType=INTEGER},	upNum = #{record.upnum,jdbcType=INTEGER},	downNum = #{record.downnum,jdbcType=INTEGER},	heartRate = #{record.heartrate,jdbcType=INTEGER},	testTime = #{record.testtime,jdbcType=TIMESTAMP},	feelingState = #{record.feelingstate,jdbcType=INTEGER},	feelingDesc = #{record.feelingdesc,jdbcType=VARCHAR},	evaluate = #{record.evaluate,jdbcType=VARCHAR},	createTime = #{record.createtime,jdbcType=TIMESTAMP},	dr = #{record.dr,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Arg_Where_Clause" />
    </if>
  </update>
  <insert id="insert" parameterType="cn.kangbao.webapp.db.appmgr.entity.PatientBloodpressure" >
		insert into patient_bloodpressure(measurementId,personId,upNum,downNum,heartRate,testTime,feelingState,feelingDesc,evaluate,createTime,dr
			)
		 values (#{measurementid,jdbcType=INTEGER},#{personid,jdbcType=INTEGER},#{upnum,jdbcType=INTEGER},#{downnum,jdbcType=INTEGER},#{heartrate,jdbcType=INTEGER},#{testtime,jdbcType=TIMESTAMP},#{feelingstate,jdbcType=INTEGER},#{feelingdesc,jdbcType=VARCHAR},#{evaluate,jdbcType=VARCHAR},#{createtime,jdbcType=TIMESTAMP},#{dr,jdbcType=INTEGER}
			)
  </insert>
  <insert id="insertSelective" parameterType="cn.kangbao.webapp.db.appmgr.entity.PatientBloodpressure" >
		insert into patient_bloodpressure
<trim prefix="(" suffix=")" suffixOverrides="," >
	<if test="measurementid != null" >
		measurementId,
	</if>
	<if test="personid != null" >
		personId,
	</if>
	<if test="upnum != null" >
		upNum,
	</if>
	<if test="downnum != null" >
		downNum,
	</if>
	<if test="heartrate != null" >
		heartRate,
	</if>
	<if test="testtime != null" >
		testTime,
	</if>
	<if test="feelingstate != null" >
		feelingState,
	</if>
	<if test="feelingdesc != null" >
		feelingDesc,
	</if>
	<if test="evaluate != null" >
		evaluate,
	</if>
	<if test="createtime != null" >
		createTime,
	</if>
	<if test="dr != null" >
		dr,
	</if>
 </trim>
  <trim prefix="values (" suffix=")" suffixOverrides="," >
	<if test="measurementid != null" >
		#{measurementid,jdbcType=INTEGER},
	</if>
	<if test="personid != null" >
		#{personid,jdbcType=INTEGER},
	</if>
	<if test="upnum != null" >
		#{upnum,jdbcType=INTEGER},
	</if>
	<if test="downnum != null" >
		#{downnum,jdbcType=INTEGER},
	</if>
	<if test="heartrate != null" >
		#{heartrate,jdbcType=INTEGER},
	</if>
	<if test="testtime != null" >
		#{testtime,jdbcType=TIMESTAMP},
	</if>
	<if test="feelingstate != null" >
		#{feelingstate,jdbcType=INTEGER},
	</if>
	<if test="feelingdesc != null" >
		#{feelingdesc,jdbcType=VARCHAR},
	</if>
	<if test="evaluate != null" >
		#{evaluate,jdbcType=VARCHAR},
	</if>
	<if test="createtime != null" >
		#{createtime,jdbcType=TIMESTAMP},
	</if>
	<if test="dr != null" >
		#{dr,jdbcType=INTEGER},
	</if>
    </trim>
  </insert>
   <insert id="insertBatch" parameterType="list" >
		insert into patient_bloodpressure(measurementId,personId,upNum,downNum,heartRate,testTime,feelingState,feelingDesc,evaluate,createTime,dr
			)
		 values 
		 <foreach collection="list" item="item" index="index" separator=",">(#{ item.measurementid,jdbcType=INTEGER},#{ item.personid,jdbcType=INTEGER},#{ item.upnum,jdbcType=INTEGER},#{ item.downnum,jdbcType=INTEGER},#{ item.heartrate,jdbcType=INTEGER},#{ item.testtime,jdbcType=TIMESTAMP},#{ item.feelingstate,jdbcType=INTEGER},#{ item.feelingdesc,jdbcType=VARCHAR},#{ item.evaluate,jdbcType=VARCHAR},#{ item.createtime,jdbcType=TIMESTAMP},#{ item.dr,jdbcType=INTEGER}
			)
		</foreach>
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
		delete from patient_bloodpressure
 where measurementId = #{measurementid,jdbcType=INTEGER}
	</delete>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
		select
		<include refid="Base_Column_List" />
		from patient_bloodpressure
 where measurementId = #{measurementid,jdbcType=INTEGER}
	</select>
	<update id="updateByPrimaryKeySelective" parameterType="cn.kangbao.webapp.db.appmgr.entity.PatientBloodpressure" >
		update patient_bloodpressure
		<set >
	<if test="personid != null" >
		personId = #{personid,jdbcType=INTEGER},
	</if>
	<if test="upnum != null" >
		upNum = #{upnum,jdbcType=INTEGER},
	</if>
	<if test="downnum != null" >
		downNum = #{downnum,jdbcType=INTEGER},
	</if>
	<if test="heartrate != null" >
		heartRate = #{heartrate,jdbcType=INTEGER},
	</if>
	<if test="testtime != null" >
		testTime = #{testtime,jdbcType=TIMESTAMP},
	</if>
	<if test="feelingstate != null" >
		feelingState = #{feelingstate,jdbcType=INTEGER},
	</if>
	<if test="feelingdesc != null" >
		feelingDesc = #{feelingdesc,jdbcType=VARCHAR},
	</if>
	<if test="evaluate != null" >
		evaluate = #{evaluate,jdbcType=VARCHAR},
	</if>
	<if test="createtime != null" >
		createTime = #{createtime,jdbcType=TIMESTAMP},
	</if>
	<if test="dr != null" >
		dr = #{dr,jdbcType=INTEGER},
	</if>
		</set >
	 where measurementId = #{measurementid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.kangbao.webapp.db.appmgr.entity.PatientBloodpressure" >
		update patient_bloodpressure
		set 
		personId = #{personid,jdbcType=INTEGER},
		upNum = #{upnum,jdbcType=INTEGER},
		downNum = #{downnum,jdbcType=INTEGER},
		heartRate = #{heartrate,jdbcType=INTEGER},
		testTime = #{testtime,jdbcType=TIMESTAMP},
		feelingState = #{feelingstate,jdbcType=INTEGER},
		feelingDesc = #{feelingdesc,jdbcType=VARCHAR},
		evaluate = #{evaluate,jdbcType=VARCHAR},
		createTime = #{createtime,jdbcType=TIMESTAMP},
		dr = #{dr,jdbcType=INTEGER}
	 where measurementId = #{measurementid,jdbcType=INTEGER}
	</update>
</mapper>